/* COLORS:

LIGHT: #eae1d4
MEDIUM:#6f6b65 #969088
DARK: #211f1e;

FONT SIZE:
1.2, 2.2, 2.4

MARGIN:
2.8rem (btn)

BORDER RADIUS:
8px

*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "B612 Mono", monospace;
  line-height: 1;
}

.yesseva-font {
  font-family: "Yeseva One", cursive;
  font-size: 8rem;
}

.section-container {
  display: flex;
  align-items: center;

  height: 100vh;
  width: 100vw;
}

.pages-text-layout {
  color: #969088;
  letter-spacing: 10px;

  transform: rotate(270deg);
}
