* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.body {
  --ff: "B612 Mono", monospace;

  --color-primary: #eae1d4;
  --color-secondary: #7b736e;
  --color-tertiary: #393533;
  --color-logo: #424242;
  --color-welcome: #7b736e;
  --color-welcome-text: #eae1d4;

  background-color: var(--color-primary);
  color: var(--color-tertiary);
  font-family: var(--ff);
  line-height: 1;
}

.dark.body {
  --color-primary: #151414;
  --color-secondary: #413d3a;
  --color-tertiary: #c7c1b8;
  --color-welcome: #151414;
  --color-welcome-text: #eae1d4;
}

.yesseva-font {
  font-family: "Yeseva One", cursive;
  font-size: 8rem;
}

.section-container {
  display: flex;
  align-items: center;
  /* justify-content: center; */

  height: 100vh;
  width: 100vw;
}

.pages-text-layout {
  letter-spacing: 10px;
  transform: rotate(270deg);
}
