/* ********** SECTION NAV *************** */
.nav_container {
  display: flex;
  gap: 27.5rem;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
}

.nav_list {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  align-content: center;
  list-style: none;
  margin-left: auto;

  padding: 8rem;
}

.nav_link {
  font-size: 2.2rem;
  color: var(--fc-primary);
  padding: 1rem;
}

.nav_link:hover {
  text-decoration: none;
  color: var(--color-accent);
}

.nav_links {
  cursor: pointer;
}

.nav_btn {
  cursor: pointer;
  margin: 2.8rem;
}

.nav-icon {
  color: var(--fc-primary);
  height: 4rem;
  width: 4rem;
}

.nav-icon:hover {
  color: var(--color-accent);
}

.sticky .nav_container {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 6rem;
  background-color: rgba(150, 144, 136, 0.95);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

/* ********** SECTION HERO *************** */

.hero_container {
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;

  background-size: cover;
  height: 90vh;
  width: 100vw;
  position: relative;
}

.hero_bubble {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  color: var(--color-secondary);
  position: absolute;
  left: 22%;
  top: 22%;
}

.hero_welcome {
  display: inline;
  background-color: var(--color-tertiary);
  padding: 2rem;
  font-size: 2.2rem;
  border: solid 2px var(--color-secondary);
  border-radius: 8px;
  position: relative;
}

.hero_welcome-trianlge {
  display: block;
  padding: 2rem;
  border-radius: 4px;
  background-color: var(--color-tertiary);
  border: solid 2px var(--color-secondary);

  position: absolute;
  left: 60%;
  top: 30%;
  transform: rotate(215deg);
}

.hero_header {
  color: inherit;
  font-weight: 400;
  width: 50rem;
  margin-bottom: 4rem;
}

.hero_name {
  color: var(--color-accent);
  font-size: 2.4rem;
}

/* ********** SECTION ABOUT *************** */

.about_description {
  text-align: center;
  width: 60%;
  font-size: 2.4rem;
  line-height: 2;
}

/* ********** SECTION WORK ***************  */
.section_work {
  background-color: var(--color-secondary);
}

.work_portfolio {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.portfolio_container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.portfolio_container-box {
  background-color: var(--color-primary);
  width: 75rem;
  height: 55rem;
  border-radius: 8px;
  position: relative;

  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.portfolio_git-icon {
  color: var(--color-tertiary);
  position: absolute;
  right: 2%;
  top: 2%;
  width: 5rem;
  height: 5rem;
}

.portfolio_img {
  height: 30rem;
  border-radius: 8px;

  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.portfolio_git-icon:hover {
  color: var(--color-accent);
}

.portfolio_title {
  display: inline-block;
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 2.4rem;

  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0);
}

.pagination {
  display: flex;
  gap: 2rem;
}

.dot {
  background-color: var(--color-primary);
  width: 1rem;
  height: 1rem;
  border-radius: 100px;
}

.active-dot {
  background-color: var(--color-tertiary);
}

.portfolio_btn {
  background-color: var(--color-tertiary);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  color: var(--color-secondary);
  font-size: 3.6rem;
  cursor: pointer;

  text-align: center;
  width: 8rem;
  height: 8rem;
  border-radius: 100px;
}

.portfolio_btn:hover {
  background-color: var(--color-accent);
  color: var(--color-primary);
}

/* ********** SECTION CONTACT *************** */
.about_content-container {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.contact_titles {
  display: inline-block;
  color: var(--color-primary);
  background-color: var(--color-tertiary);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 3rem;
}

.contact-title-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.titles_icons {
  display: flex;
  gap: 2rem;
}

.contact-icons-sayhi {
  background-color: var(--color-tertiary);
  border-radius: 100px;
  padding: 1rem;

  color: var(--color-primary);
  height: 5rem;
  width: 5rem;
  text-decoration: none;
}

.contact-icons-sayhi:hover {
  background-color: var(--color-accent);
}

.contact-icons-findme {
  color: var(--color-tertiary);
  height: 7rem;
  width: 7rem;
}

.contact-icons-findme:hover {
  color: var(--color-accent);
}

/* ********** SECTION FOOTER *************** */
.section_footer {
  display: flex;
  align-items: center;
  height: 6rem;
  background-color: #969088;
}

.copyright {
  font-size: 1.6rem;
  color: #211f1e;
  margin-left: auto;
  margin-right: 2rem;
}
