/* ********** SECTION NAV *************** */
.nav_container {
  display: flex;
  gap: 27.5rem;
  align-items: center;
  justify-content: space-between;

  background-color: var(--color-primary);
  height: 8rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.logo {
  height: 5rem;
  width: 5rem;
}

.nav_list {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  align-content: center;
  list-style: none;
  margin-left: auto;

  padding: 8rem;
}

.nav_link {
  font-size: 2.2rem;
  color: var(--fc-primary);
  padding: 1rem;
}

.nav_link:hover {
  text-decoration: none;
  transition: 0.15s;
}

.nav_links {
  cursor: pointer;
}

.nav_btn {
  cursor: pointer;
  margin: 2.8rem;
}

.nav-icon {
  color: var(--color-tertiary);
  height: 3.5rem;
  width: 3.5rem;
}

.sticky .nav_container {
  padding-left: 0;
  position: fixed;
  width: 100%;
  height: 6rem;
  background-color: rgba(45, 42, 40, 0.95);
  color: #eae1d4;
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

/* ********** SECTION HERO *************** */

.section_hero {
  position: relative;
}

.light-bg, .dark-bg {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.body.light .light-bg {
  visibility: visible;
}

.body.dark .dark-bg {
  visibility: visible;
}


.hero_container {
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;

  background-image: url("src/light-background.jpg");
  background-size: cover;
  height: 90vh;
  width: 100vw;
  position: relative;
  z-index: 1;
}

.hero_bubble {
  color: var(--color-welcome-text);
  position: absolute;
  left: 22%;
  top: 22%;
}

.hero_welcome {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  display: inline;
  background-color: var(--color-welcome);
  padding: 2rem;
  font-size: 2.2rem;
  border-radius: 8px;
  position: relative;
}

.hero_welcome-trianlge {
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  display: block;
  padding: 2rem;
  border-radius: 4px;
  background-color: var(--color-welcome);

  position: absolute;
  left: 60%;
  top: 30%;
  transform: rotate(215deg);
}

.hero_header {
  color: var(--color-tertiary);
  font-weight: 400;
  width: 50rem;
  margin-bottom: 4rem;
}

.hero_name {
  color: var(--color-tertiary);
  font-size: 2.4rem;
}

/* ********** SECTION ABOUT *************** */

.about_description {
  text-align: center;
  width: 80%;
  font-size: 2.4rem;
  line-height: 2;
}

/* ********** SECTION WORK ***************  */
.section_work {
  background-color: var(--color-secondary);
}

/* SLIDER */
.slider {
  position: relative;
  display: block;
  max-width: 75rem;
  height: 55rem;
  top: 0;
  display: flex;
  margin: 0 auto;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 75rem;
  height: 55rem;
  background-color: var(--color-primary);
  transition: transform 1s;
  margin: 0;
}

.slider__btn {
  position: absolute;
  top: 50%;
  text-align: center;
  z-index: 10;

  border: none;
  background: rgb(123, 115, 110, 0.7);
  box-shadow: 0 0.3rem 1.4rem rgba(0, 0, 0, 0.4);
  font-family: inherit;
  color: var(--color-tertiary);
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3rem;
  cursor: pointer;
}

.slider__btn:hover {
  color: var(--color-secondary);
}

.slider__btn--left {
  left: 5%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 5%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: -5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dot {
  border: none;
  background-color: var(--color-secondary);
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  transition: all 0.5s;
  z-index: 10;

  box-shadow: 0 0.3rem 1.4rem rgba(0, 0, 0, 0.4);
}

.dot:last-child {
  margin: 0;
}

.active-dot {
  /* background-color: #fff; */
  background-color: var(--color-tertiary);
  opacity: 1;
}

.portfolio_git-icon {
  color: var(--color-tertiary);
  position: absolute;
  right: 2%;
  top: 2%;
  width: 5rem;
  height: 5rem;
}

.portfolio_git-icon:hover {
  transition: 0.15s;
  color: var(--color-secondary);
}

.portfolio_img {
  height: 30rem;
  border-radius: 8px;

  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.portfolio_title {
  display: inline-block;
  background-color: var(--color-tertiary);
  color: var(--color-primary);
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 2.4rem;

  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 0);
}

/* ********** SECTION CONTACT *************** */
.about_content-container {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.contact_titles {
  display: inline-block;
  color: var(--color-primary);
  background-color: var(--color-tertiary);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: 3rem;
}

.contact-title-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.titles_icons {
  display: flex;
  gap: 2rem;
}

.contact-icons-sayhi {
  background-color: var(--color-tertiary);
  border-radius: 100px;
  padding: 1rem;

  color: var(--color-primary);
  height: 5rem;
  width: 5rem;
  text-decoration: none;
}

.contact-icons-sayhi:hover {
  background-color: var(--color-secondary);
  transition: 0.15s;
}

.contact-icons-findme {
  color: var(--color-tertiary);
  height: 7rem;
  width: 7rem;
}

.contact-icons-findme:hover {
  color: var(--color-secondary);
  transition: 0.15s;
}

/* ********** SECTION FOOTER *************** */
.section_footer {
  display: flex;
  align-items: center;
  height: 6rem;
  background-color: var(--color-secondary);
}

.copyright {
  font-size: 1.6rem;
  color: var(--color-tertiary);
  margin-left: auto;
  margin-right: 2rem;
}
